
<!-- Menu -->

<p-sidebar [(visible)]="displayMenu" position="right">
  <p-panelMenu [model]="menuItems"></p-panelMenu>
</p-sidebar>

<!-- Fenster -->


<p-toolbar (swipeleft)="onSwipeLeft($event)">
  <div class="ui-toolbar-group-left">
    <p-button *ngIf="settingsService.adminMode" icon="pi pi-pencil" (click)="toRunde()"></p-button>
    <span class="box"> </span>
    <span class="box"> </span>
    <span *ngIf="spieltag" class="spieltaginfo info-color">{{spieltag.name}}</span>
    <span class="box"> </span>
    <span class="attention">{{onlineStatus}}</span>
  </div>
  <div class="ui-toolbar-group-right">
    <p-button type="button" icon="pi pi-ellipsis-v" (click)="displayMenu = true"></p-button>
  </div>
</p-toolbar>

<div *ngIf="spieltag === undefined">
  <app-spinner></app-spinner>   
  <div class="verbindungsaufbau">Connecting to Split'n Ass server...</div>
</div>

<div style="height: calc(100vh - 125px); padding-top: 0.2em;" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">

  <p-table *ngIf="spieltag" [columns]="displayedColumns" [value]="spieltag.runden" dataKey="nr" 
    [scrollable]="true" scrollHeight="flex"
     [responsive]="true" selectionMode="single" [(selection)]="selectedRunde" [expandedRowKeys]="expandedRunden">

    <ng-template  pTemplate="header" let-columns>
      <tr class="table-header-row">
        <th style="text-align: center;" *ngFor="let col of columns" [ngStyle]="{'width': col.width}" >
          <span class="{{col.isActive ? '' : 'inactivePlayer'}}">{{col.header}}</span>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-runde let-columns="columns" let-expanded="expanded">
      <tr #row class="p-table-row" [pSelectableRow]="runde" [attr.nr]="runde.nr">
        <td style="text-align: center;" *ngFor="let col of columns; trackBy: getIndex" [ngStyle]="{'width': col.width}" 
          (click)="rundeClicked(runde)" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">
          <span class="{{col.isActive ? '' : 'inactivePlayer'}}">{{getValueFor(runde, col.field)}}</span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-runde let-columns="columns">
      <tr #rowDetail *ngIf="runde.isBeendet" class="ergebnis" [attr.nr]="runde.nr">
        <td [attr.colspan]="columns.length + 1" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">
          <div *ngFor="let s of runde.ergebnisEvents">            
            <span>{{s.event}}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>