<p-card>

  <div class="p-col">
    <span>Beschreibung: </span>
    <input type="text" size="30" pInputText [(ngModel)]="name" maxlength="30"/>
  </div>
  <div class="p-col">
    <span>Rundenanzahl: </span>
    <p-inputNumber mode="decimal" [min]="1" [max]="1000" [showButtons]="true" [(ngModel)]="anzahlRunden"></p-inputNumber>
  </div>
  <div class="p-col"></div>
  <p-pickList [source]="moeglicheSpieler" [target]="selectedSpieler"
    sourceHeader="Mögliche Spieler" targetHeader="Spieler in Sitzreihenfolge - Oberster ist erster Geber!"
    [responsive]="true" [showSourceControls]="false" [showTargetControls]="false">
    <ng-template let-spieler pTemplate="item">
      <div>{{spieler.name}}</div>
    </ng-template>
  </p-pickList>

  <div class="p-col"></div>

  <div class="actions">
    <p-button label="OK" (click)="onClose()" [disabled]="!canConfirm()"></p-button>
    <p-button label="Cancel" (click)="onCancel()" class="left-pad"></p-button>
  </div>

</p-card>