:host >>> .ui-button {
  background: rgba(0, 0, 0, 0); 
  border: 1px solid rgba(0, 0, 0, 0);
}       

:host >>> .ui-button:enabled:focus {
  background: rgba(0, 0, 0, 0); 
  /* border: 1px solid #66afe9; */
  border: 1px solid rgba(0, 0, 0, 0);
}

:host >>> .ui-button:enabled:hover {
  background: rgba(0, 0, 0, 0); 
  border: 1px solid #66afe9;
}

.info {  
  padding-right: 1em;
  white-space: nowrap;
}

.fontsize {  
  
}

@media (max-width: 500px) { 
  .info {  
    font-size: 12px; 
  }
}

@media (max-width: 420px) { 
  .info {  
    font-size: 11px; 
  }
}

@media (max-width: 380px) { 
  .info {  
    font-size: 10px; 
  }
  .fontsize {  
    font-size: 12px; 
  }
  
}


@media (max-width: 370px) { 
  .info {  
    font-size: 9px; 
  }  
}

.pad-half {
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  /* border-radius: 30px; */
  padding: 0.5em;
}

.pad-1-top {
  padding-top: 0.5em;
}

.pad-left-1 {
  padding-left: 1em;
}

.pad-left-1-5 {
  padding-left: 1.5em;
}

.pad-left-3 {
  padding-left: 3em;
}

.pad-left-5 {
  padding-left: 5em;
}

.p-col {
  padding: 0.2em;
  
}

.ui-inputtext {
  width: 30px; 
  opacity: unset !important;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.ui-fieldset .ui-fieldset-legend {
  padding: 0.2em;
}