:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
}

.left-pad {  
  padding-left: 0.5em;
}

.anzahl {
  white-space: pre;
  padding-right: 1.5em;
}

.ergebnis {
  white-space: pre;
  font-weight: bold;
}

.box {
  padding: 1em;
}