:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left-pad {
  padding-left: 0.5em;
}

.table-width {    
  width: 500px;  
}
@media (max-width: 500px) { 
  .table-width {    
    width: 400px;  
  }
}
@media (max-width: 400px) { 
  .table-width {    
    width: 350px;  
  }
}
@media (max-width: 370px) { 
  .table-width {    
    width: 300px;  
  }
}
@media (max-width: 300px) { 
  .table-width {    
    width: 280px;  
  }
}
