/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/nova-dark/theme.css";
@import "primeng/resources/themes/luna-green/theme.css";
@import "primeng/resources/themes/nova-colored/theme.css";
@import "primeng/resources/themes/luna-pink/theme.css";
@import "primeng/resources/themes/luna-amber/theme.css";
@import "primeng/resources/themes/nova-light/theme.css";
@import "primeng/resources/themes/luna-blue/theme.css";

body { 
    /* height: 100vh;  */
    background-color: darkgray;
  }

.box {
  font-size:11px; 
  padding-right: 1em;
}

.attention {
  color: rgb(255, 159, 64);
  /* font-size: 20px;  */
  vertical-align: middle; 
}

.inactivePlayer {
  color: rgb(255, 159, 64);
}

.verbindungsaufbau {
  padding: 2em;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 12px; 
}

.elevation {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container {
  position: absolute;
  top: .5em;
  bottom: .5em;
  left: .5em;
  right: .5em;  
}

.flexcolumn,
.flexcolumn .ui-table,
.flexcolumn .ui-table-scrollable-wrapper,
.flexcolumn .ui-table-scrollable-view,
.flexcolumn .ui-table-scrollable-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}


