/* You can add global styles to this file, and also import other style files */

body, html { 
    /* height: 100vh;  */
    background-color: darkgray;
    
  }

.box {
  font-size:11px; 
  padding-right: 1em;
}

.spieltaginfo {  
  font-size:20px; 
  vertical-align: middle; 
}

.attention {
  color: rgb(255, 159, 64);
  /* font-size: 20px;  */
  vertical-align: middle; 
}

.inactivePlayer {
  color: rgb(255, 159, 64);
}

.verbindungsaufbau {
  text-align: -webkit-center;
  padding: 2em;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 12px; 
}

.container {
  position: absolute; 
  top: .5em;
  bottom: .5em;
  left: .5em;
  right: .5em;  
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  
}

.flexcolumn,
.flexcolumn .ui-table,
.flexcolumn .ui-table-scrollable-wrapper,
.flexcolumn .ui-table-scrollable-view,
.flexcolumn .ui-table-scrollable-body {
  
  flex: 1 1 0;
}


