<p-card>

  <p-panel header="Allgemeine Einstellungen" [toggleable]="true">
    <div class="div-padding">
      <span class="p-col">Theme:</span>
      <p-dropdown [options]="themes" [(ngModel)]="selectedTheme" (onChange)="themeChanged()">
      </p-dropdown>
    </div>
    <div class="div-padding">
      <p-checkbox class="p-col" [(ngModel)]="settingsService.adminMode" label="Spieltag steuern" binary="true">
      </p-checkbox>
    </div>
    <div class="div-padding">
      <p-checkbox class="p-col" [(ngModel)]="settingsService.offline" label="Offline-Modus" binary="true">
      </p-checkbox>
    </div>
    <div class="div-padding">
      <p-checkbox class="p-col" [(ngModel)]="settingsService.animateRoutes" label="Fensterwechsel animieren" binary="true">
      </p-checkbox>
    </div>
    <div class="div-padding">
      <p-checkbox class="p-col" [(ngModel)]="settingsService.hideInactivePlayers" label="Inaktive Spieler ausblenden"
        binary="true">
      </p-checkbox>
    </div>
  </p-panel>
  <p-panel header="Rundenliste" [toggleable]="true">
    <div class="div-padding">
      <p-checkbox class="p-col" [(ngModel)]="settingsService.autoShowRundendetails" label="Details der letzten gespielten Runde automatisch aufklappen?"
        binary="true">
      </p-checkbox>
    </div>
  </p-panel>
  <p-panel header="Charts" [toggleable]="true">
    <div class="div-padding">
      <span class="p-col">Schriftgröße:</span>
      <p-spinner size="3" [(ngModel)]="settingsService.chartsFontSize">
      </p-spinner>
    </div>
  </p-panel>

  <div class="actions div-padding">
    <p-button label="OK" (click)="onClose()"></p-button>
  </div>


</p-card>